#pokemon-holder {
  max-width: 900px;
  max-height: 300px;
  border: 2px solid red;
}

#pokemon-image {
  position: relative;
  height: 300px;
}

.blurred {
  filter: contrast(0) sepia(0) hue-rotate(0) saturate(2000%) brightness(0);
}
